#medidas-area{
  width: 100%;
  height: 100%;

  h2{
    margin-top: 50px;
    text-align: center;
    font-weight: 300;
    font-size: 28px;
  }

  #container-medidas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }  

  .medidas-txt{
    display: flex;
    align-items: center;
  }

  .medidas-txt, .medidas-img{
    width: 40%;

    img{
      width: 100%;
      height: 100%;
    }
  }
}

@media(max-width: 800px){
  #medidas-area{
    h2{
      margin-top: 10px;
      font-size: 23px;
      margin-bottom: 10px;
    }
    #container-medidas{
      flex-direction: column;
  
      .medidas-txt, .medidas-img{
        width: 100%;
      }
  
      .order1{
        order: 1;
      }
    }
  }

}